img {
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    height: auto;
    -ms-interpolation-mode: bicubic;
    overflow: hidden;
    font-size: 12px
}

svg {
    fill: currentColor;
    display: inline-block;
    stroke-width: 0;
    stroke: currentColor;
    width: 14px;
    height: 14px
}

blockquote {
    margin: 0
}




article svg {
    height: auto;
    width: auto
}

.wrapper {
    max-width: 800px;
    margin: 0 auto
}

.footer {
    background: linear-gradient(-45deg, #ee7752, #ce3e75, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    -o-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    line-height: 24px;
    text-align: center;
    font-size: 12px;
    padding: 20px 0
}

.footer .wrapper {
    position: relative
}

.footer__heart {
    display: inline-block;
    -webkit-animation: beating 1s infinite;
    animation: beating 1s infinite;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    margin: 0 3px 5px 8px
}

.footer svg {
    height: 20px;
    width: 20px;
    margin: 0 10px 5px
}

.footer a {
    color: rgba(255,255,255,.8)
}

.footer a:hover {
    text-decoration: none;
    color: #fff
}

.footer:before {
    background-color: rgba(0,0,0,0)
}

.footer p a img {
    margin-bottom: 3px
}